* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 2rem;
}

.container h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.upper-part {
    margin-left: 10%;
    margin-right: 10%;
}

.container p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.search-box {
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin: 0 auto 1rem auto;
    display: flex;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    background: transparent;
}

img {
    max-width: 90%;
}

.container-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-section-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-section-1, .card {
    display: flex;
    gap: 8px;
}

.main-section-image, .content {
    width: 45%;
}

.content, .card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer, .card-footer {
    display: flex;
    gap: 5px;
}

h2, p {
    text-align: left;
    margin-bottom: 1%;
}

a {
    text-align: left;
    text-decoration: none;
    color: blue;
}
.footer-date{
    display: flex;
    flex-direction: row;
    gap: 3px;
   }
   .footer-category{

    display: flex;
    flex-direction: row;
    gap: 3px;
   }
   .footer-user{
    display: flex;
    flex-direction: row;
    gap: 3px;
   }
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .main-section-1 {
        display: none;
    }
    .search-box {
        display: none;
    }
    .main-section-2 {
        display: flex;
        flex-direction: row;
       
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
        position: relative;
       
       
       
    }
    .card-content {
        display: flex;
        flex-direction: column;
       margin-bottom: 10px;
      position: absolute;
      top: 70%;
      width: 80%;
      max-width: 100%; 
      background-color: #ccc;
      padding: 5px
    }
    .footer, .card-footer {
        display: flex;
        gap: 2px;
        
       
    }
    .main-section-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .footer-date {
        display: flex;
        justify-items: center;
    }
    .footer-category{

        display: flex;
        flex-direction: row;
        gap: 3px;
       }
       .footer-user{
        display: none
        
       }
    
}
@media only screen and (min-width: 769px){
    .container-1{
        display: flex;
        flex-direction: row;
        align-items: stretch
        
    }
    .main-section-1{
        display: flex;
        flex-direction: column;
        
    }
    .main-section-2{
        display: flex;
        flex-direction: column;
        height: 100%
    }
    #main-section-1-image{
        height: 50%;
        width: max-content;
    }
    .search-box {
        display: none;
    }
   .content{
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .main-section-heading{
    order:-2
   }
   .main-section-paragraph{
    order: -1
   }
   .footer{
    margin-top: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
    order:3;
    
   }
   .footer-date{
    display: flex;
    flex-direction: row;
    gap: 3px;
   
   }
   .footer-category{

    display: flex;
    flex-direction: row;
    gap: 3px;
   }
   .footer-user{
    display: flex;
    flex-direction: row;
    gap: 3px;
   }
   .main-section-2 a{
    display: none;
   }
   .main-section-2 .footer-category,.main-section-2 .footer-user{
    display: none
   }
   .main-section-2 .card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between
   }
   

    
   
}